body{
  display:grid;
  place-items: center;
  min-height: 100vh;     
  width: 100%;  
  box-sizing: border-box;
  padding: 10px;
}

.contenedor {
  display: grid;
  grid-template-rows: 100px 160px 140px;
  row-gap: 20px;

}

/* Download */

.download-btn {
    display: flex;
    align-items: center;
    padding: 22px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    box-shadow: 
        0px 0px 0px 2px #FFFFFF,
        0px 0px 0px 2px #E7E7E7;  
    margin-top: 110px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}

.download-btn::before, .download-btn::after {
    content: ''; /* hace que los pseudos se generen before y after sin contenido vsible..  para decorar*/
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
}
.download-btn::after {
    box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.2);
}

.download-btn svg {
    width: 18px;
    height: 18px;
    stroke: #FFFFFF;
    margin-right: 12px;
    
}

/* Botton A y C */
.buttonac{
  display: flex;
  justify-content:center;
  align-items:end;
  gap: 10px;
  margin-top: 200px;
}

.buttonc{
  width: 26px;
  height: 26px;
  
}
.button  {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #000000 40%, rgba(0, 0, 0, 0.5) 100%); /*baje el gradient al 40% para conseguir el efecto*/
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0.5px solid #000000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);  /* drop */
    cursor: pointer;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.3); /* inner */
  }
  
  .letter {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(to bottom, #FFFFFF 30%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}  


/*micro */

.selector-container {
    display: flex;
    align-items: center;
    width: 230px;
    padding: 10px 10px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    gap: 5px;
    box-shadow: 
      0 4px 8px rgba(0, 0, 0, 0.14),
      0 1px 0 rgba(240, 240, 240, 1); 
      margin-bottom: 100px;
    position: relative;
  }

  .text {
    flex: 1;
  }

  .selector-container:hover {
    background-color: #e0e0e0;
  }

  .options-list {
    display: none;
    position: absolute ;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width:80%;
    font-size: 12px;
    top: 100%;
    left: 0;
  }

  .options-list.open {
    display:block;
  }

  .option {
    padding: 10px;
    cursor: pointer;
  }

  .option:hover {
    background-color: #f1f1f1;
  }
